  <div class="container">
        <div class="product-list-columns columns is-multiline">
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/" class="column product-list-column is-4-desktop is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure style="background-image: url(images/basiccompany-product.png)"></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
    