@using Sitecore.Mvc
<div class="container">
    
    <h2>@Html.Sitecore().Field("SectionHeaderTitle")</h2>
</div>
<div class="container">
    <div class="columns">
        <a href="/" class="column promo-column">
            <div class="card">
                <div class="card-image">
                    <figure style="background-image: url(images/promo-card-2.jpg)"></figure>
                     
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Tristique senectus et netus et. </h4>
                         <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                     </div>
                </div>
            </div>
        </a>
        <a href="/" class="column promo-column">
            <div class="card">
                <div class="card-image">
                    <figure style="background-image: url(images/promo-card-2.jpg)"></figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Tristique senectus et netus et. </h4>
                        <p>Purus semper eget duis at tellus at urna condimentum mattis.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
