<section class="columns is-1 is-multiline">
    <div class="column testimonial is-6">
        <div class="testimonial-inner" style="background-image: url(images/testimonial-1.jpg)">
            <h3>Phasellus a est</h3>
            <p>
                Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo.
            </p>
        </div>
    </div>
    <div class="column testimonial is-6">
        <div class="testimonial-inner" style="background-image: url(images/testimonial-2.jpg)">
            <h3>Phasellus a est</h3>
            <p>
                Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo.
            </p>
        </div>
    </div>
    <div class="column testimonial is-6">
        <div class="testimonial-inner" style="background-image: url(images/promo-card-2.jpg)">
            <h3>Phasellus a est</h3>
            <p>
                Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo.
            </p>
        </div>
    </div>
    <div class="column testimonial is-6">
        <div class="testimonial-inner" style="background-image: url(images/promo-card-5.jpg)">
            <h3>Phasellus a est</h3>
            <p>
                Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo.
            </p>
        </div>
    </div>
    </section>